<div>{{ holding() }}</div>

<div id="game">
  <div class="top-hint">
    @for (row of this.buildHints(this.WIDTH); track $index) {
    <div class="hint-row"></div>
    }
  </div>

  <div class="wrap">
    <div class="left-hint">

      @for (row of this.buildHints(this.HEIGHT); track $index) {
      <div class="hint-row"></div>
      }

    </div>

    <div #gridComponent class="grid">
      @for (item of this.grid; track $index) {
      <app-cell #cell [data]="item" />
      }
    </div>
  </div>
</div>