<div>{{ holding() }}</div>
<div>{{ pencil() ?? 'null' }}</div>

<div id="game">
  <div class="top-hint">
    @for (row of heart.topHints; track $index) {
    <div class="hint-row">
      @for (hint of row; track $index) {
      <div class="hint">{{ hint }}</div>
      }
    </div>
    }
  </div>

  <div class="wrap">
    <div class="left-hint">

      @for (row of heart.leftHints; track $index) {
      <div class="hint-row">
        @for(hint of row; track $index) {
        <div class="hint">{{ hint }}</div>
        }
      </div>
      }

    </div>

    <div #gridComponent class="grid">
      @for (item of this.grid; track $index) {
      <app-cell #cell [data]="item" />
      }
    </div>
  </div>
</div>
