.cell {
  border: 1px solid black;
  height: 100%;

  &.filled {
    background-color: black;
  }

  &.empty {}

  &.marked {
    background-image: url("/assets/images/close.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
}